@font-face {
  font-family: "iconfont"; /* Project id 4879248 */
  src: url('iconfont.woff2?t=1745905672164') format('woff2'),
       url('iconfont.woff?t=1745905672164') format('woff'),
       url('iconfont.ttf?t=1745905672164') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-col-zhutise:before {
  content: "\e643";
}

.icon-col-gerenziliao:before {
  content: "\e61e";
}

.icon-col-shujiegou:before {
  content: "\e9ff";
}

.icon-col-Word:before {
  content: "\edd5";
}

.icon-col-wendang:before {
  content: "\e663";
}

.icon-col-picture:before {
  content: "\e60d";
}

.icon-col-PDF:before {
  content: "\e602";
}

.icon-col-txt-full:before {
  content: "\ea44";
}

.icon-col-audio1:before {
  content: "\ea48";
}

.icon-col-video-camera:before {
  content: "\e68a";
}

.icon-col-Excel:before {
  content: "\edde";
}

.icon-col-ppt-full:before {
  content: "\ea46";
}

.icon-col-huanyuan:before {
  content: "\e70f";
}

.icon-col-document:before {
  content: "\e67c";
}

.icon-col-image:before {
  content: "\e6f0";
}

.icon-col-unknown:before {
  content: "\e760";
}

.icon-col-video:before {
  content: "\13e26";
}

.icon-col-audio:before {
  content: "\13e27";
}

.icon-col-other:before {
  content: "\e6bc";
}

.icon-col-duomeitiicon-:before {
  content: "\e61c";
}

.icon-col-fenlei3:before {
  content: "\e600";
}

.icon-col-fenlei1:before {
  content: "\e657";
}

.icon-col-biaoqian:before {
  content: "\e63e";
}

.icon-col-biaoqian1:before {
  content: "\e645";
}

.icon-col-fenlei2:before {
  content: "\e71b";
}

.icon-col-24gl-tags4:before {
  content: "\e87d";
}

.icon-col-quanbu:before {
  content: "\e603";
}

.icon-col-huishouzhanx:before {
  content: "\e640";
}

.icon-col-piliangdaoru1:before {
  content: "\e61d";
}

.icon-col-jiaoseguanli:before {
  content: "\e60f";
}

.icon-col-yibiaopan:before {
  content: "\e669";
}

.icon-col-biaoqian_o:before {
  content: "\eb47";
}

.icon-col-yonghu:before {
  content: "\e60c";
}

.icon-col-jiaoseguanli1:before {
  content: "\e618";
}

.icon-col-fenlei:before {
  content: "\e7a4";
}

.icon-col-kongzhitai:before {
  content: "\e74d";
}

.icon-col-jiekouzhushou:before {
  content: "\e6ae";
}

.icon-col-xitongshezhi:before {
  content: "\e664";
}

.icon-col-hualang:before {
  content: "\e607";
}

.icon-col-shezhi:before {
  content: "\e656";
}

.icon-col-piliangtupian:before {
  content: "\e733";
}

.icon-col-cunchucelve:before {
  content: "\e71f";
}

