@font-face {
  font-family: "iconfont"; /* Project id 4743179 */
  src: url('iconfont.woff2?t=1734058275598') format('woff2'),
       url('iconfont.woff?t=1734058275598') format('woff'),
       url('iconfont.ttf?t=1734058275598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rizhi:before {
  content: "\e6d2";
}

.icon-shujuyuan:before {
  content: "\e857";
}

.icon-shujuyuan1:before {
  content: "\e608";
}

.icon-jiankong:before {
  content: "\e693";
}

.icon-code:before {
  content: "\e615";
}

.icon-dashboard:before {
  content: "\e885";
}

.icon-dashboard1:before {
  content: "\e78b";
}

.icon-jiankong1:before {
  content: "\eb37";
}

.icon-jiankong2:before {
  content: "\e61d";
}

.icon-xianchengchi:before {
  content: "\e733";
}

.icon-fuwuqi:before {
  content: "\e630";
}

.icon-xianchengchi1:before {
  content: "\e650";
}

.icon-xiancheng:before {
  content: "\e694";
}

.icon-xianchengchi2:before {
  content: "\e695";
}

.icon-gongzuotai:before {
  content: "\e606";
}

.icon-tiaoyong:before {
  content: "\e61e";
}

.icon-fangfa:before {
  content: "\e748";
}

.icon-lianlu:before {
  content: "\e67a";
}

.icon-tiaoyongliang:before {
  content: "\e6ea";
}

.icon-suidao-xian:before {
  content: "\e631";
}

.icon-jiekoutiaoyongjilu:before {
  content: "\e60e";
}

