@font-face {
  font-family: "iconfont"; /* Project id 4879248 */
  src: url('iconfont.woff2?t=1743571865305') format('woff2'),
       url('iconfont.woff?t=1743571865305') format('woff'),
       url('iconfont.ttf?t=1743571865305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-col-piliangdaoru1:before {
  content: "\e61d";
}

.icon-col-jiaoseguanli:before {
  content: "\e60f";
}

.icon-col-yibiaopan:before {
  content: "\e669";
}

.icon-col-biaoqian_o:before {
  content: "\eb47";
}

.icon-col-yonghu:before {
  content: "\e60c";
}

.icon-col-jiaoseguanli1:before {
  content: "\e618";
}

.icon-col-fenlei:before {
  content: "\e7a4";
}

.icon-col-kongzhitai:before {
  content: "\e74d";
}

.icon-col-jiekouzhushou:before {
  content: "\e6ae";
}

.icon-col-xitongshezhi:before {
  content: "\e664";
}

.icon-col-hualang:before {
  content: "\e607";
}

.icon-col-shezhi:before {
  content: "\e656";
}

.icon-col-piliangtupian:before {
  content: "\e733";
}

.icon-col-cunchucelve:before {
  content: "\e71f";
}

