server:
  ## 服务端口（可选，默认9000）
  port: 9000
  servlet:
    context-path: /collection ## 服务上下文（可选，默认/collection）

collection:
  jodconverter:
    enabled: true
    mode: local #local 或 remote
    remote: #LibreOffice远程模式
      username: admin
      password: 123456
      api-host: http://localhost:8080 #远程服务地址
      timeout: 300000 #单位：毫秒(5分钟)
    local: #LibreOffice本地模式
      office-home: /Applications/LibreOffice.app/Contents #本地LibreOffice安装路径
  ffmpeg-path: /opt/homebrew/Cellar/ffmpeg/7.1.1_1/bin
  ## 文件上传类型（可选，以下类型已经支持，如要添加，请自行修改，测试未必通过）
  upload-type:
    image:
      - jpg
      - jpeg
      - gif
      - bmp
      - png
      - webp
    document:
      - pdf
      - txt
      - doc
      - docx
      - xls
      - xlsx
      - ppt
      - pptx
    video:
      - mp4
      - mov
      - avi
    audio:
      - wav
      - mp3
      - flac
    other:

## 日志配置（可选）
logging:
  file:
    path: /tmp/logs