server:
  ## 服务端口（可选，默认9000）
  port: 9000
  servlet:
    context-path: /collection ## 服务上下文（可选，默认/collection）

collection:
  jodconverter:
    enabled: true
    mode: local #local 或 remote
    remote: #LibreOffice远程模式
      username: admin
      password: 123456
      api-host: http://localhost:8080 #远程服务地址（仅需要协议、host、端口)）
      timeout: 300000 #单位：毫秒(5分钟)
    local: #LibreOffice本地模式
      office-home: /Applications/LibreOffice.app/Contents #本地LibreOffice安装路径
  ffmpeg:
    enabled: true
    mode: remote
    remote:
      api-url: http://localhost:8000/capture #远程服务接口地址
    local:
      ffmpeg-path: /opt/homebrew/Cellar/ffmpeg/7.1.1_1/bin #ffmpeg安装路径(可选，如果是docker2方案，不用设置)
  imageMagick:
    enabled: true
    mode: local
    remote:
      api-url: http://localhost:8190/convert
      timeout: 300000
    local:
      image-magick-path: /opt/homebrew/bin

## 日志配置（可选）
logging:
  file:
    path: /tmp/logs